html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-size: 16px; /* 1rem = 10px */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#app {
  height: 100vh;
  /* display: flex;
    align-items: center; */
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* button */
::-webkit-scrollbar-button {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #999;
}

/* Resizer */
::-webkit-resizer {
  background: #111;
}
